[Unit]
Description=Azure IoT TPM Service
Requires=aziot-tpmd.socket
After=aziot-tpmd.socket

[Service]
Environment="AZIOT_LOG=error"
ExecStart=/usr/bin/aziot-tpmd
KillMode=process
Restart=on-failure
RestartSec=5s
User=aziottpm

[Install]
WantedBy=multi-user.target