[Unit]
Description=Azure IoT Certificates Service
Requires=aziot-certd.socket
After=aziot-certd.socket

[Service]
Environment=AZIOT_LOG=error
Environment=LD_LIBRARY_PATH=/usr/lib/rust
ExecStart=/usr/bin/aziot-certd
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target