[Unit]
Description=Azure IoT TPM Service
Requires=aziot-tpmd.socket
After=aziot-tpmd.socket

[Service]
Environment=AZIOT_LOG=error
Environment=LD_LIBRARY_PATH=/usr/lib/rust
ExecStart=/usr/bin/aziot-tpmd
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

